[client]

[mysqld]

innodb_file_format=Barracuda
innodb_file_per_table=ON
innodb_buffer_pool_size=1600M
sql_mode=STRICT_ALL_TABLES
ft_stopword_file=/srv/phabricator/phabricator/resources/sql/stopwords.txt
ft_min_word_len=3

server-id       = 1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
log        = /var/log/mysqld_multi.log

!includedir /etc/my.cnf.d
